doctype html
html
    head
        style.
            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #3d3d3d;
                background-color: #f9f9f9;
            }
            table {
                border-collapse: collapse;
                width: 100%;
                display: inline;
                margin: 10px;
            }
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                width: 200px;
            }
            tr:nth-child(even) {
                background-color: #dddddd;
            }
            .divider {
                min-height: 50px;
            }
            .container {
                margin: 0 auto;
                width: 400px;
                background: white;
                padding: 10px;
                border-radius: 8px;
                margin-top: 30px;
                margin-bottom: 30px;
                box-shadow: 0px 60px 50px 10px rgba(100,100,100,.1);
            }
            .centered {
                text-align: center;
            }
            .items-list {
                margin: 0 auto;
                width: 80%;
            }
            img {
                margin-bottom: 30px;
                margin-top: 30px;
                filter: invert(80%) !important;
                -webkit-filter: invert(80%) !important;
            }
    body
        .container
            .centered
                h2 Your Rice Bikes receipt
                p Thank you for visiting Rice Bikes!
                p Below is your receipt.
                .divider
                p.centered transaction #{transaction._id}
                p.centered #{date}
            .items-list
                h4
                    | Items

                    each item in transaction.items
                        ul
                            li #{item.name} - $#{item.price}
                h4
                    | Repairs

                    each repair in transaction.repairs
                        ul
                            li #{repair.name} - $#{repair.price}
                    h4 Total

                    strong $#{transaction.total_cost}
            .divider
            .centered
                p Thank you!
                p
                    strong Rice Bikes
                .divider
                    | ------------------------------------------
                p
                    | Leave us some
                    a(href="https://ricebikes.typeform.com/to/FE3uA3")
                        |  feedback!
                p
                    | Like us on
                    a(href="https://www.facebook.com/RiceBikes/")
                        |  Facebook!
                p
                    a(href="bikes.rice.edu") bikes.rice.edu
                img(width="100" height="100" src="https://ricebikes.ml/assets/img/rice-bikes_white.png")
