doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
        title Financial Report: This week in Rice Bikes
        body
            p Here is the financial report for the past week:,

            h2 Total weekly revenue: $#{total_revenue}

            | Daily Summary
            //{"Sunday": {"date": "No transactions today","cash": 0, "card": 0, "check": 0}}
            each info, day in all_days
                h3 #{day}, #{info.date}:
                h4 Daily Revenue: $#{info.card + info.cash + info.check}
                ul
                    li Total Card Revenue: $#{info.card}
                    li Total Cash Revenue: $#{info.cash}
                    li Total Check Revenue: $#{info.check}

            p Best,
            p The Rice Bikes WebApp


